In [1]:
from mylib.EncodeColToBinary import EncodeColToBinary
import numpy as np
import pandas as pd
from pandas import Series

#import Dataset
#dataset = np.loadtxt('..\ks-projects-201801.csv', delimiter=',', skiprows=1)
dataset = pd.read_csv('..\ks-projects-201801.csv', delimiter=',')

#save data in seperate variable
testData = dataset

In [2]:
#create Time delta : deadline_date - launched_date
timedelta = (pd.to_datetime(testData["deadline"])-pd.to_datetime(testData["launched"]))

testData["timedelta"]= timedelta.dt.days+timedelta.dt.seconds/(24*60*60)

In [3]:
#remove rows that dont contain state of : 'successful' or 'failed'
testData = testData[(testData.state == "successful") | (testData.state == "failed")]

In [4]:
#create column outcome, wich indicate bool of success
testData = testData.assign(outcome=(testData["state"] == "successful").astype(int))

In [5]:
#remove rows where country is 'N,0\"'
testData = testData[(testData.country != "N,0\"")]

In [6]:
testData = EncodeColToBinary(testData,"main_category")
#testData = EncodeColToBinary(testData,"category")
#testData = EncodeColToBinary(testData,"country")

In [7]:
#remove irrelevant columns
testData = testData.drop(columns=["usd pledged","goal","pledged","currency","ID","state","name"])

#remove encoded feature
testData = testData.drop(columns=["main_category","category","country"])

#remove datetime
testData = testData.drop(columns=["deadline","launched"])

In [44]:
testData.head()

,backers,usd_pledged_real,usd_goal_real,timedelta,outcome,main_category_Publishing,main_category_Film & Video,main_category_Music,main_category_Food,main_category_Crafts,main_category_Games,main_category_Design,main_category_Comics,main_category_Fashion,main_category_Theater,main_category_Art,main_category_Photography,main_category_Technology,main_category_Dance,main_category_Journalism
0,0,0.0,1533.95,58.491343,0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,15,2421.0,30000.00,59.802813,0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
2,3,220.0,45000.00,44.985532,0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,1,1.0,5000.00,29.858206,0,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
5,224,52375.0,50000.00,34.431632,1,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False